@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animated{
  animation-name: move-wrapper;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes move-wrapper {
  0% {
    transform: translate(150%, 30%) rotate(0) scale(0.8);
  }
  50% {
    transform: translate(0vw, 0vh) rotate(150deg) scale(1.2);
  }
  to {
    transform: translate(0vw, 40vh) rotate(0deg) scale(0.8);
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body{
  font-family: "Space Grotesk", sans-serif;
  background-color: black;
  color: white;
}

.bg-img{
  background-image: url("../src/assets/bg-img5.png");
}